html {
	background-color: #DBEEFF;
}

h1 {
	font-weight: heavy;
	font-size: 3rem;
	font-style: normal;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	color: #1A4E81
}

h2 {
	font-weight: medium;
	font-size: 1.5rem;
	font-style: normal;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	color: #1A4E81
}

h3 {
	font-weight: medium;
	font-size: 1.3rem;
	font-style: normal;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #1A4E81
}

p {
	font-decoration: none;
	font-family: arial;
	font-size: 0.9rem;
}

blockquote {
	text-align: center;
	font-size: 1.5rem;

}

footer {
	text-align: right;
	font-size: 1rem;

}
ul {
	list-style-type: none;
	padding: 0;
}

ol {
	list-style-type: lower-roman;
	font-family: arial;
	font-size: 0.9rem;
	font-weight: lighter;
}

dl {
	list-style-type: lower-roman;
	font-family: arial;
	font-size: 0.9rem;
	font-weight: lighter;
}

dt {
	list-style-type: lower-roman;
	font-family: arial;
	font-size: 0.9rem;
	font-weight: bold;
}

li {
	font-weight: bold;
}

figurecaption {
	font-style: italic;
	font-family: arial;
	font-size: 0.8rem;
	color: #1A4E81;
}

.celest { 
	color: #2E8AE6;
}

.round { 
	color: #2E8AE6;
}
a {
	color: #2E8AE6;
}

a:hover {
	color: 	#B2CCFF;
}

